pipeline/PL_Master_Orchestrator_v1.json
{
	"name": "PL_Master_Orchestrator_v1",
	"properties": {
		"activities": [
			{
				"name": "LKP_GetMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM ControlTable WHERE IsActive = 1 ORDER BY Priority ASC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_ControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GetMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SwitchLoadingPattern",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().LoadingPattern",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Incremental",
										"activities": [
											{
												"name": "Incremental Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat(\n    'SELECT * FROM [', \n    item().SourceSchema, \n    '].[', \n    item().TableName, \n    '] WHERE ', \n    item().WatermarkColumn, \n    ' >= ''', \n    coalesce(string(item().LastWatermarkValue), '1900-01-01'), \n    ''''\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_Source_v1",
														"type": "DatasetReference",
														"parameters": {
															"Schema": "item().SourceSchema",
															"Table": "item().TableName"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_Parquet_v1",
														"type": "DatasetReference",
														"parameters": {
															"Container": "bronze",
															"Directory": {
																"value": "@item().TargetPath",
																"type": "Expression"
															},
															"Filename": {
																"value": "@concat(item().TableName,'_', pipeline().RunId,'.parquet')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "FullLoad",
										"activities": [
											{
												"name": "FullLoad Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "SELECT * FROM @{item().SourceSchema}.@{item().TableName}",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_Source_v1",
														"type": "DatasetReference",
														"parameters": {
															"Schema": "@item",
															"Table": "@item().TableName"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_Parquet_v1",
														"type": "DatasetReference",
														"parameters": {
															"Container": "bronze",
															"Directory": "@item().TargetPath",
															"Filename": "@concat(item().TableName, pipeline().RunId,'.parquet')"
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "metadriven_adf_v1"
		},
		"annotations": []
	}
}