pipeline/PL_Master_Orchestrator.json
{
	"name": "PL_Master_Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "LKP_GetMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM dbo.ControlTable WHERE IsActive = 1 ORDER BY Priority ASC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_ControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GetMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_Generic",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().SourceSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Generic",
									"type": "DatasetReference",
									"parameters": {
										"Container": "bronze",
										"FolderPath": "@item().TargetPath",
										"FileName": "@concat(item().TableName, '.parquet')"
									}
								}
							]
						},
						{
							"name": "Switch For Loading",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().LoadingPattern",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FullLoad",
										"activities": [
											{
												"name": "FullLoad",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "DeleteFullLoadFolder",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "select * from @{item().SourceSchema}.@{item().TableName}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_ControlTable",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_Generic",
														"type": "DatasetReference",
														"parameters": {
															"Container": "bronze",
															"FolderPath": {
																"value": "@item().TargetPath",
																"type": "Expression"
															},
															"FileName": {
																"value": "@concat(item().TableName,'.parquet')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "DeleteFullLoadFolder",
												"type": "Delete",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_ADLS_Delete",
														"type": "DatasetReference",
														"parameters": {
															"Container": {
																"value": "bronze",
																"type": "Expression"
															},
															"FolderPath": {
																"value": "@item().TargetPath",
																"type": "Expression"
															}
														}
													},
													"enableLogging": true,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									},
									{
										"value": "Incremental",
										"activities": [
											{
												"name": "Copy data2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "SELECT * FROM @{item().SourceSchema}.@{item().TableName}\nWHERE @{item().WatermarkColumn} > '@{item().LastWatermarkValue}",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_ControlTable",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_Generic",
														"type": "DatasetReference",
														"parameters": {
															"Container": "bronze",
															"FolderPath": {
																"value": "@item().TargetSchema",
																"type": "Expression"
															},
															"FileName": {
																"value": "@concat(item().TableName,'.parquet')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "Merge"
									},
									{
										"value": "Historical"
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}