pipeline/PL_Master_Orchestrator_v1.json
{
	"name": "PL_Master_Orchestrator_v1",
	"properties": {
		"activities": [
			{
				"name": "LKP_GetMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM ControlTable WHERE IsActive = 1 ORDER BY Priority ASC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_ControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GetMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SwitchLoadingPattern",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().LoadingPattern",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Incremental",
										"activities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"enableStaging": false
												}
											}
										]
									},
									{
										"value": "Merge"
									},
									{
										"value": "FullLoad"
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "metadriven_adf_v1"
		},
		"annotations": []
	}
}