pipeline/PL_TableProcessor.json
{
	"name": "PL_TableProcessor",
	"properties": {
		"activities": [
			{
				"name": "Switch_LoadPattern",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"cases": [
						{
							"value": "FullLoad",
							"activities": [
								{
									"name": "Copy_FullLoad_Bronze",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_SourceDynamic",
											"type": "DatasetReference",
											"parameters": {
												"schema": "@pipeline().parameters.pSourceSchema",
												"table": "@pipeline().parameters.pTableName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_TargetBronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@pipeline().parameters.pTargetPath",
												"fileName": "@{pipeline().parameters.pTableName}.parquet"
											}
										}
									]
								},
								{
									"name": "Copy_BronzeToSilver_Full",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_FullLoad_Bronze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_TargetBronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@pipeline().parameters.pTargetPath"
											}
										}
									]
								},
								{
									"name": "Copy_SilverToGold_Full",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_BronzeToSilver_Full",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"enableStaging": false
									}
								}
							]
						},
						{
							"value": "Incremental",
							"activities": [
								{
									"name": "Copy_Incremental_Bronze",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.pSourceSchema, '.', pipeline().parameters.pTableName, ' WHERE ', pipeline().parameters.pWatermarkColumn, ' > ISNULL(''', coalesce(pipeline().parameters.pLastWatermarkValue, '1900-01-01'), ''', ''1900-01-01'')')",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_SourceDynamic",
											"type": "DatasetReference",
											"parameters": {
												"schema": "@pipeline().parameters.pSourceSchema",
												"table": "@pipeline().parameters.pTableName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_TargetBronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@{pipeline().parameters.pTargetPath}/delta/",
												"fileName": "@{pipeline().parameters.pRunId}.parquet"
											}
										}
									]
								},
								{
									"name": "Copy_DeltaToSilver",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_Incremental_Bronze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_TargetBronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@{pipeline().parameters.pTargetPath}/delta/"
											}
										}
									]
								},
								{
									"name": "Copy_SilverDeltaToGold",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_DeltaToSilver",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"enableStaging": false
									}
								}
							]
						},
						{
							"value": "Merge",
							"activities": [
								{
									"name": "Copy_Merge_Staging_Bronze",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT *, GETDATE() as LoadDateTime, ''', pipeline().parameters.pRunId, ''' as LoadRunId FROM ', pipeline().parameters.pSourceSchema, '.', pipeline().parameters.pTableName, ' WHERE ', pipeline().parameters.pWatermarkColumn, ' > ISNULL(''', coalesce(pipeline().parameters.pLastWatermarkValue, '1900-01-01'), ''', ''1900-01-01'')')",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_SourceDynamic",
											"type": "DatasetReference",
											"parameters": {
												"schema": "@pipeline().parameters.pSourceSchema",
												"table": "@pipeline().parameters.pTableName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_TargetBronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@{pipeline().parameters.pTargetPath}/staging/",
												"fileName": "@{pipeline().parameters.pRunId}.parquet"
											}
										}
									]
								},
								{
									"name": "Copy_StagingToSilver",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_Merge_Staging_Bronze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_TargetBronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@{pipeline().parameters.pTargetPath}/staging/"
											}
										}
									]
								},
								{
									"name": "Copy_SilverStagingToGold",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy_StagingToSilver",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"enableStaging": false
									}
								}
							]
						}
					],
					"expression": {
						"value": "@pipeline().parameters.pLoadingPattern",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_RowCounts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Switch_LoadPattern",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vRowsRead",
					"value": {
						"value": "@sum(activity('Switch_LoadPattern').output.childItems, item().output.dataWritten)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_SuccessStatus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_RowCounts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vStatus",
					"value": "Success"
				}
			},
			{
				"name": "Set_NewWatermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_SuccessStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vNewWatermark",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_UpdateWatermarkAndLog",
				"type": "AzureSqlStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set_NewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateWatermarkAndLog]",
					"storedProcedureParameters": {
						"TableName": {
							"value": "@pipeline().parameters.pTableName",
							"type": "String"
						},
						"RunID": {
							"value": "@pipeline().parameters.pRunId",
							"type": "String"
						},
						"NewWatermark": {
							"value": "@variables('vNewWatermark')",
							"type": "String"
						},
						"RowsRead": {
							"value": "@variables('vRowsRead')",
							"type": "Int"
						},
						"RowsWritten": {
							"value": "@variables('vRowsWritten')",
							"type": "Int"
						},
						"Status": {
							"value": "@variables('vStatus')",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "@variables('vErrorMessage')",
							"type": "String"
						}
					}
				}
			}
		],
		"parameters": {
			"pTableName": {
				"type": "String"
			},
			"pSourceSchema": {
				"type": "String"
			},
			"pLoadingPattern": {
				"type": "String"
			},
			"pWatermarkColumn": {
				"type": "String"
			},
			"pPrimaryKey": {
				"type": "String"
			},
			"pSourcePath": {
				"type": "String"
			},
			"pTargetPath": {
				"type": "String"
			},
			"pSilverPath": {
				"type": "String"
			},
			"pGoldPath": {
				"type": "String"
			},
			"pLastWatermarkValue": {
				"type": "String"
			},
			"pRunId": {
				"type": "String"
			}
		},
		"variables": {
			"vStatus": {
				"type": "String",
				"defaultValue": "InProgress"
			},
			"vErrorMessage": {
				"type": "String"
			},
			"vRowsRead": {
				"type": "Int",
				"defaultValue": "0"
			},
			"vRowsWritten": {
				"type": "Int",
				"defaultValue": "0"
			},
			"vNewWatermark": {
				"type": "String"
			}
		},
		"annotations": []
	}
}