pipeline/PL_TableProcessor.json
{
	"name": "PL_TableProcessor",
	"properties": {
		"activities": [
			{
				"name": "Switch_LoadPattern",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"cases": [
						{
							"value": "FullLoad",
							"activities": [
								{
									"name": "Copy_FullLoad_Bronze",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SourceDynamic",
											"type": "DatasetReference",
											"parameters": {
												"schema": "@pipeline().parameters.pSourceSchema",
												"table": "@pipeline().parameters.pTableName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_TargetBronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@{pipeline().parameters.pTargetPath}",
												"fileName": "@{pipeline().parameters.pTableName}.parquet"
											}
										}
									]
								},
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Copy_FullLoad_Bronze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_SilverMerge",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "Incremental",
							"activities": [
								{
									"name": "Copy_Incremental_Bronze",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.pSourceSchema, '.', pipeline().parameters.pTableName, ' WHERE ', pipeline().parameters.pWatermarkColumn, ' > ''', coalesce(pipeline().parameters.pLastWatermarkValue, '1900-01-01'), '''')",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_SourceDynamic",
											"type": "DatasetReference",
											"parameters": {
												"schema": "@pipeline().parameters.pSourceSchema",
												"table": "@pipeline().parameters.pTableName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_TargetBronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@{pipeline().parameters.pTargetPath}/delta/",
												"fileName": "@{pipeline().parameters.pRunId}.parquet"
											}
										}
									]
								}
							]
						},
						{
							"value": "Merge",
							"activities": [
								{
									"name": "Copy_Merge_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT *, GETDATE() as LoadDateTime, ''', pipeline().parameters.pRunId, ''' as RunId FROM ', pipeline().parameters.pSourceSchema, '.', pipeline().parameters.pTableName, ' WHERE ', pipeline().parameters.pWatermarkColumn, ' > ''', coalesce(pipeline().parameters.pLastWatermarkValue, '1900-01-01'), '''')",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_SourceDynamic",
											"type": "DatasetReference",
											"parameters": {
												"schema": "@pipeline().parameters.pSourceSchema",
												"table": "@pipeline().parameters.pTableName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_TargetBronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@{pipeline().parameters.pTargetPath}/staging/",
												"fileName": "@{pipeline().parameters.pRunId}.parquet"
											}
										}
									]
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Set_Failure_NoPattern",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vStatus",
								"value": {
									"value": "@concat('Unknown loading pattern: ', pipeline().parameters.pLoadingPattern)",
									"type": "Expression"
								}
							}
						}
					],
					"expression": {
						"value": "@pipeline().parameters.pLoadingPattern",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_RowCounts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Switch_LoadPattern",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vRowsRead",
					"value": {
						"value": "@activity('Switch_LoadPattern').output.dataWritten",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_SuccessWatermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_RowCounts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vNewWatermark",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_UpdateWatermarkAndLog",
				"type": "AzureSqlStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set_SuccessWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateWatermarkAndLog]",
					"storedProcedureParameters": {
						"TableName": {
							"value": "@pipeline().parameters.pTableName",
							"type": "String"
						},
						"RunID": {
							"value": "@pipeline().parameters.pRunId",
							"type": "String"
						},
						"NewWatermark": {
							"value": "@variables('vNewWatermark')",
							"type": "String"
						},
						"RowsRead": {
							"value": "@variables('vRowsRead')",
							"type": "Int"
						},
						"RowsWritten": {
							"value": "@variables('vRowsWritten')",
							"type": "Int"
						},
						"Status": {
							"value": "@variables('vStatus')",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "@variables('vErrorMessage')",
							"type": "String"
						}
					}
				}
			}
		],
		"parameters": {
			"pTableName": {
				"type": "String"
			},
			"pSourceSchema": {
				"type": "String"
			},
			"pLoadingPattern": {
				"type": "String"
			},
			"pWatermarkColumn": {
				"type": "String"
			},
			"pPrimaryKey": {
				"type": "String"
			},
			"pSourcePath": {
				"type": "String"
			},
			"pTargetPath": {
				"type": "String"
			},
			"pSilverPath": {
				"type": "String"
			},
			"pGoldPath": {
				"type": "String"
			},
			"pLastWatermarkValue": {
				"type": "String"
			},
			"pRunId": {
				"type": "String"
			}
		},
		"variables": {
			"vStatus": {
				"type": "String",
				"defaultValue": "InProgress"
			},
			"vErrorMessage": {
				"type": "String"
			},
			"vRowsRead": {
				"type": "Int",
				"defaultValue": "0"
			},
			"vRowsWritten": {
				"type": "Int",
				"defaultValue": "0"
			},
			"vNewWatermark": {
				"type": "String"
			}
		},
		"annotations": []
	}
}